<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.york.mapper.BookInfoMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.york.model.BookInfo" >
    <id column="book_id" property="bookId" jdbcType="BIGINT" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_cat_id" property="bookCatId" jdbcType="INTEGER" />
    <result column="book_price" property="bookPrice" jdbcType="DECIMAL" />
    <result column="book_status" property="bookStatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from book_info
    where book_id = #{bookId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aaa.york.model.BookInfo" >
    insert into book_info (book_id, book_name, book_cat_id, 
      book_price, book_status)
    values (#{bookId,jdbcType=BIGINT}, #{bookName,jdbcType=VARCHAR}, #{bookCatId,jdbcType=INTEGER}, 
      #{bookPrice,jdbcType=DECIMAL}, #{bookStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aaa.york.model.BookInfo" >
    update book_info
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_cat_id = #{bookCatId,jdbcType=INTEGER},
      book_price = #{bookPrice,jdbcType=DECIMAL},
      book_status = #{bookStatus,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select book_id, book_name, book_cat_id, book_price, book_status
    from book_info
    where book_id = #{bookId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select book_id, book_name, book_cat_id, book_price, book_status
    from book_info
  </select>
</mapper>